/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que los padding y border no afecten el tamaño */
}



/* Estilos para el footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000; /* Asegura que el footer esté sobre otros elementos */
}

/* Estilos para el contenedor principal */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 60px; /* Ajuste para evitar que el navbar lo cubra */
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    color: #28a745;
}

#steps {
    font-size: 16px;
    color: #343a40;
    text-align: left;
    margin-top: 20px;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* Asegura que el modal esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.member {
    text-align: center;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Fotos circulares */
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px 0; /* Ajuste de margen para mejorar la visualización */
}